<h1>
	New Conversation
</h1>
<%= form_tag conversation_messages_path(conversation_url), method: :post do %>

<div>
	<%= select_tag :account_username, options_from_collection_for_select(@recipients, :id, :username) %>
</div>

<div>
	<%= text_field_tag :subject, nil, placeholder: "Messege" %>
</div>

<div>
<%= text_area_tag :body, nil, placeholder: "Leave a message" %>	
</div>

<%= submit_tag %>

<% end %>