<h1>
	<%= @conversation.subject %>
</h1>
<% @conversation.receipts_for(current_account).each do |receipt| %>
<div>
	<div>
		<h4>
			<%= receipt.message.sender.username %>
		</h4>
	</div>
	<h4>
		<%= receipt.message.body %>
	</h4>
</div>
<% end %>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
<div>
	<%= text_area_tag :body %>
</div>
<%= submit_tag %>
<% end %>