<div class="container">
<div class="row">
<div class="col-xs-4">
<%= image_tag @account.image.url,  width: "200px", class: "profile-pic" if @account.image.present? %>
</div>
<div class="col-xs-8 float: left">
<h3><%= @account.username %> 


<br />
<h4><div class="profile-stats"><%= @account.posts.count %> Posts</div></h4>
<h4><div class="profile-stats"><%= @account.total_following %> Admirers</div><h4>
<h4><div class="profile-stats"><%= @account.total_followers %> Adores</div><h4>

</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-xs-12">
<p><%= @account.full_name %></p>

<h5><%= link_to @account.website if @account.website.present? %></h5>
<%= simple_format @account.description %>
</div>
</div>
</div>

<div class="">
<div class="col-12">
<%  @posts.each do |post| %>
<div class="col-xs-4">
<div class="">
<%= link_to image_tag(post.image.url, width:"100px", class: "img img-fluid"), post_path(post) %>
</div>
</div>
<% end %>
</div>
</div>

<a href="/posts/new" class="float">
<i class="fa fa-plus my-float"></i>
</a>